
#tableCrosses {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    background-color: #f8f8f8;
    border-radius: 5px; 
    overflow-x: scroll;
}

#tableCrosses th{
    border-radius: 5px 5px 0 0;
}


#tableContainer {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
}

th {
    color: #6b6b6b;

}

th,
td {
    padding: 10px 2%;
    margin-right: 10 px;
    font-size: 12px;
}

tbody tr:nth-child(odd) {
    background-color: #e6e8ee;
}

tbody tr {
    width: 100%;
}

.firstRow {
    border-bottom: 1px solid rgba(87, 85, 85, 0.25);
}


.btn-AR,
.btn-AR:hover {
    background-color: #4c628f !important;
    color: white !important;
}

#insertCrossBtn{
    margin-left: 5%;
}

.btn-AR:hover {
    margin-top: 1px;
    margin-bottom: -1px;
}

#insertCrossModal, #manageCrossModal{
    padding-left: 65px;
    transition: all 0.5s ease-out;
}

#insertCrossModal .modal-header,
#insertCrossModal .modal-body, 
#manageCrossModal .modal-header,
#manageCrossModal .modal-body  {
    padding: 8px 16px;
    transition: all 0.5s ease-out;
}

#insertCrossModal .form-group, #manageCrossModal .form-group{
    margin-bottom: 8px;
}

#insertCrossModal button.btn#sendReg {
    margin: 0;
}

.green{
    color: #16b538;
}

.red{
    color: red;
}

@media (min-width: 1500px) {

    th,
    td {
        padding: 0.8% 2%;
        font-size: 16px;
    }



    #tableTools {
        width: 85%;
        margin: 1% auto;
        height: 40px;
    }
    
    #tableTools * {
        font-size: 16px;
    }
    

    #itemsPerPage {
        width: 60px;
        height: 30px;
    }
    
    #pageNumber {
        width: 40px;
        height: 30px;
        font-size: 16px;
    }
}




@media (max-width: 770px) {
    div.searchbar{
        margin-top: 50px;
        padding: 0;
    }

    #searchCrossInput {
        font-size: 1em;
        width: 100%;
        margin: 0 0 1%;
    }

    .searchbar .btn:not(:last-of-type) {
        margin-right: 1%;
    }

    #itemsPerPage {
        width: 45px;
    }

    .searchbar .btn {
        width: 48.5%;
        margin-top: 2%;
    }
}