#welcoming {
    float: left;
    margin-left: 3%;
    height: 40%;
    width: 50%;
}

#welcoming h1 {
    font-size: 36px;
}


.boxTitle {
    background-position: center center;
    background-size: cover;
    padding: 0;
    display: inline-block;
    margin-top: 2%;

}

.boxTitle div {
    margin: 0;
    width: 100%;
    height: 75%;
}

.boxTitle h1 {
    background-color: rgb(248, 248, 248, 0.5);
    width: 100%;
    height: 25%;
    padding: 3% 0 0% 5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
}

#weather {
    width: 40%;
    height: 20%;
    margin-top: 2%;
    margin-left: 4%;
    overflow: hidden;

}

.dashboardBox {
    background-color: #fff;
    display: inline-block;
}

#lineCards {
    width: 40%;
    height: calc(20% - 10px);
    margin-top: 10px;
    margin-left: 4%;
}

#lineCards img {
    width: 27%;
    margin-left: 13%;
}

#lineCards h6 {
    margin: 3% 0 0% 5%;
    height: 20%;
    font-size: 18px;
}

.flexContainerRow{
    height: 25%;
    margin: 2% 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#embeddedCalendar {
    width: 35%;
    height: 100%;
}

#calendarEmbeddedTable {
    text-align: center;
    width: 100%;
    background-color: #fff;
    /* table-layout: fixed; */
}

#calendarEmbeddedTable tr, #calendarEmbeddedTable thead, #calendarEmbeddedTable tbody{
    width: 100% !important;
}

#calendarEmbeddedTable tr{
    height: 12.3%;
}

#calendarEmbeddedTable td, 
#calendarEmbeddedTable th{
    box-sizing: border-box;
    width: 12.3%;
    padding: 1px;
    background-color: #fff;
    text-align: center;
}

#calendarEmbeddedTable p{
    text-align: center;
    height: auto;
    margin: 0;
}

.calendarCircle{
    height: 4px;
    width: 4px;
    margin: 0 auto;
    background-color: #4c628f;
    border: none;
    border-radius: 100%;
}


@media (max-width: 770px) {
    #welcoming {
        float: none;
        margin-top: 60px;
        height: 30%;
        width: 94%;
    }

    .boxTitle h1 {
        background-color: rgb(248, 248, 248, 0.5);
        padding: 0% 0 0% 5%;

    }

    #weather {
        margin-left: 3%;
        float: none;
        margin-top: 3%;
        width: 50%;
        height: 23%;
    }

    #lineCards {
        height: 23%;
        /* float: right; */
        margin-top: 3%;
        vertical-align: top;
    }

    #lineCards img {
        margin: 3% auto;
        display: block;
        width: 30%;
    }

    #lineCards h6 {
        margin: 1% 0 1% 5%;
        height: 12%;
    }


    #embeddedCalendar {
        width: 94%;
    }

    .calendarCircle{
        height: 6px;
        width: 6px;
    }
}