h1 {
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    font-weight: bolder;
}

#main-block-diagrams, #block-diagrams{
    width: 65%;
    height: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}




section > *{
    background-color: #FFF;
    color: #383838;
    border-radius: 2%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}


section.subfields > *{
    flex-basis: 28%;
    height: 100px;
}

section.subfields > * h2 {
    text-align: center;
    margin: auto;
    width: 90%;
    font-weight: bolder;
    font-size: 1.3em;
}

section.fields > *{
    width: 45%;
    height: 30%;
}

section > * h2 {
    text-align: center;
    margin: auto;
    width: 90%;
    font-weight: bolder;
    font-size: 1.7em;
}

section > *:hover{
    background-color: #383838;
    text-decoration: none;
}


section > *:hover h2 {
    color: white;
}
/* 
section > *:nth-child(n + 3){
    margin-top: 10%;
} */

#svgDiagram {
    margin: 5% auto;
    display: block;
    width: 75%;
}

@media (max-width: 770px) {

    section.fields > *{
        width: 85%;
        height: 20%;
        margin: 0;
    }

    section.subfields > *{
        font-size: 0.8em;
        flex-basis: 45%;

    }

    #main-block-diagrams, #block-diagrams{ 
        flex-direction: column;
        margin-top: 5%;
        height: 80%;
    }

    #block-diagrams{ 
        flex-direction: row;
        margin-top: 5%;
        height: 90%;
        overflow: scroll;
    }

    #svgDiagram {
        width: 120%;
    }
    
}

