html,
body, #root {
  margin: 0;
  padding: 0;
  background-color: #ccd2df;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #383838;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
} */

.modal-open {
  overflow: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383838;
}

p {
  text-align: justify;
}

.circle {
  border-radius: 100%;
  margin: 0 auto;
}

.shadowing {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.roundEdges {
  border-radius: 5px;
}

.redBorder {
  border: 1px solid red;
}


/* Content */

#content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.1% !important;
  margin-left: 200px;
  margin-top: 0%;
  padding: 0;
  background-color: #ccd2df;
  width: calc(100% - 200px);
  height: 100%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* Content on collapse */

#navbar.nav-collapsed~#content:not(.hovered){
  margin-left: 65px;
  margin-right: 0 !important;
  width: calc(100% - 65px);
}

/* Login Modal*/
#loginModal label {
  padding: 0;
}

#loginModal .fa-form.fa {
  color: #002060;
  margin-right: 10px;
}

#submitLogin {
  background: #002060;
}


body, .content {
  padding: 0 !important;
}