html,
body, #root {
  margin: 0;
  background-color: #ccd2df;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #383838;
}

/* body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
} */

.modal-open {
  overflow: inherit !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383838;
}

p {
  text-align: justify;
}

.circle {
  border-radius: 100%;
  margin: 0 auto;
}

.shadowing {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.roundEdges {
  border-radius: 5px;
}

.redBorder {
  border: 1px solid red;
}


/* Content */

#content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.1% !important;
  margin-left: 200px;
  margin-top: 0%;
  padding: 0;
  background-color: #ccd2df;
  width: calc(100% - 200px);
  height: 100%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* Content on collapse */

#navbar.nav-collapsed~#content:not(.hovered){
  margin-left: 65px;
  margin-right: 0 !important;
  width: calc(100% - 65px);
}


@media (max-width: 770px) {
  #navbar {
    margin-left: -220px;
  }

  #navbar.active {
    margin-left: 0;
    z-index: 2;
  }

  #content, #navbar.nav-collapsed~ #navbar.nav-collapsed~#content:not(.active) {
    width: 100% ;
    margin: auto 0px  !important;
    padding: 0;
  }

  #navbarCollapse {
    display: block;
    z-index: 400;
  }
}

/* Login Modal*/
#loginModal label {
  padding: 0;
}

#loginModal .fa-form.fa {
  color: #002060;
  margin-right: 10px;
}

#submitLogin {
  background: #002060;
}


/* Directory */

#employeeRegister {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body {
  padding: 0 !important;
}


button.close#closeModal {
  width: 25px;
  margin-left: calc(100% - 25px);
}

#employeeDetail .modal-content {
  width: 280px;
  height: 350px;
  margin: auto;
}

#employeeDetail .modal-dialog {
  width: 100%;
  min-width: 100%;
  height: 100%;
  padding: 0 !important;
}

#employeeDetail {
  width: calc(100% - 65px);
  margin-left: 65px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  height: 100%;
}

#content.hovered #employeeDetail {
  width: calc(100% - 200px) !important;
  margin-left: 200px !important;
}

.modal-dialog {
  margin: 0 auto;
}

#searchFilters {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 45%;
  padding: 0;
  margin: 20px auto;
}

#searchFilters li {
  display: inline;
  cursor: pointer;
}

.activeFilter {
  font-weight: 800;
  text-decoration: underline;
}



.employeeInfo label {
  color: #383838;
  width: 60px;
}

.employeeInfo p {
  color: #252525;
}

.employeeInfo label,
.employeeInfo p {
  display: inline-block;
  margin: 0;
}

.employeeInfo {
  width: 100%;
  font-size: 11px;
}

.employeeInfo .row {
  width: 90%;
  margin-left: 10%;
  margin-bottom: 5%;
}


#employeeRegister {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.employeeImage {
  position: relative;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  min-height: 70px;
  min-width: 70px;
  margin: 15px auto;
  z-index: 1;
  background-image: url("../img/gray_square.png");
  background-position: center;
  background-size: cover;
}

.employeeImage:before {
  content: ' ';
  display: block;
  height: 78px;
  min-height: 78px;
  width: 78px;
  min-width: 78px;
  border-radius: 100%;
  top: -4px;
  left: -4px;
  position: absolute;
  background-color: none;
  z-index: 0;
}

#employeeDetail .employeeImage {
  margin-top: 10px;
  height: 70px;
  width: 70px;
  min-height: 70px;
  min-width: 70px;
}

#employeeDetail .employeeImage:before {
  height: 78px;
  width: 78px;
  top: -4px;
  left: -4px;
}



.card {
  width: 230px;
  height: 200px;
  background-color: #f8f8f8;
  margin: 1%;
  margin-bottom: 2%;
  border-radius: 2px;
  cursor: pointer;
}

.card:hover {
  margin-top: calc(1% + 1px);
  margin-bottom: calc(2% - 1px);
}

#employeeRegistry {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* flex-wrap: wrap; */
}

.registryEmpTitle {
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 3%;
  font-weight: 700;
}

.registryEmpPosition,
.registryEmpEmail {
  font-size: 12px;
  margin: 0 auto;
}


@media (max-width: 770px) {
  #searchFilters {
      width: 60%;
  }

  #employeeDetail {
      margin-left: 0;
      width: 100%;
  }

  .modal-dialog {
      margin: 0;
      width: 100%;
      height: 100%;
  }


}

@media (min-width: 1500px) {
  .employeeInfo label {
      width: 90px;
  }

  .employeeInfo {
      margin-top: 10px;
      font-size: 18px;
  }

  #employeeDetail .modal-content {
      width: 500px;
      height: 550px;
      margin: auto;
  }


  #searchFilters {
      width: 55%;
      margin-bottom: 2%;
  }

  #searchFilters li {
      font-size: 1.5em;
  }

  .employeeImage{
      height: 100px;
      width: 100px;
      min-height: 100px;
      min-width: 100px;
      margin-top: 20px;
  }

  .employeeImage:before {
      height: 112px;
      min-height: 112px;
      width: 112px;
      min-width: 112px;
      top: -6px;
      left: -6px;
  }

  #employeeDetail .employeeImage {
      height: 120px;
      width: 120px;
      min-height: 120px;
      min-width: 120px;
      margin-top: 0;
  }

  #employeeDetail .employeeImage:before {
      height: 132px;
      min-height: 132px;
      width: 132px;
      min-width: 132px;
      top: -6px;
      left: -6px;
  }


  .card {
      width: 350px;
      height: 300px;
      background-color: #f8f8f8;
      margin: 1%;
      margin-bottom: 2%;
      border-radius: 2px;
      cursor: pointer;
  }


  .registryEmpTitle {
      font-size: 28px;
      margin: 3% auto;
      font-weight: 700;
  }

  .registryEmpPosition,
  .registryEmpEmail {
      font-size: 18px;
      margin: 0 auto;
  }

}


.employeeImage.priority1:before {
  border: 1.5px solid #42f542;
}

.employeeImage.priority2:before {
  border: 1.5px solid #f54242;
}

.employeeImage.priority3:before {
  border: 1.5px solid #429bf5;
}

.employeeImage.priority4:before {
  border: 1.5px solid #9b42f5;
}

.employeeImage.priority6:before,
.employeeImage.priority5:before {
  border: 1.5px solid #f59b42;
}

.employeeImage.priority7:before {
  border: 1.5px solid #e8be25;
}

.employeeImage.priority8:before,
.employeeImage.priority9:before {
  border: 1.5px solid #4243f5;
}

.employeeImage.priority10:before {
  border: 1.5px solid #7ffdbe;
}


