/* NAVBAR  */
#navbar {
    width: 200px;
    height: 100vh;
    overflow: hidden;
    background-color: #4c628f;
    color: #F3F3F3;
    position: fixed;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    z-index: 1000;
    position: fixed;
  }
  
  #nav-header {
    background-color: #002060;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  #logo {
    width: 64px;
  }
  
  #title {
    display: inline-block;
    margin: 0;
    min-width: 130px;
    width: 130px;
  }
  
  #navbar .fas {
    margin-right: 10px;
  }
  
  #nav-links {
    padding: 0;
    list-style: none;
    height: 95%;
    width: 100%;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column; */
    flex-direction: column;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center; */
    justify-content: center;
  }
  
  #nav-links .hide {
    display: inline;
  }
  
  #nav-links li:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #F3F3F3;
  }
  
  #nav-links li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 2%;
    width: calc(200px - 17.5px);
    margin-left: 17.5px;
    cursor: pointer;
    /* overflow: hidden; */
  }
  
  #nav-links li a {
    color: #ccd2df;
    width: 120px;
    text-decoration: none;
  }
  
  #nav-links li a.current,
  #nav-links li a:hover {
    color: #F3F3F3;
  }
  
  #nav-links li a:hover {
    text-decoration: none;
  }
  
  #nav-body {
    height: 90%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  
  #navbarCollapse {
    position: absolute;
    left: calc(100% - 60px);
    width: 50px;
    margin-top: 2%;
    display: none;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .login {
    position: absolute;
    top: 95%;
    left: 15px;
    font-size: 0.7em;
    cursor: pointer;
  }
  
  /* NavBar Collapsed */
  
  #navbar.nav-collapsed:not(.hovered) #title {
    display: none;
  }
  
  #navbar.nav-collapsed:not(.hovered) {
    width: 65px;
  }
  
  #navbar.nav-collapsed #nav-links li {
    overflow: hidden;
  }
  
  #navbar.nav-collapsed #nav-links .hide:not(.hovered) {
    display: none;
  }
  
  #navbar.nav-collapsed #nav-links:not(.hovered) li:not(:last-child) {
    border-bottom: none;
    margin-bottom: calc(1px + 1rem);
  }
  

  
@media (max-width: 770px) {
    #navbar {
      margin-left: -220px;
    }
  
    #navbar.active {
      margin-left: 0;
      z-index: 2;
    }
  
    #content, #navbar.nav-collapsed~ #navbar.nav-collapsed~#content:not(.active) {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  
    #navbarCollapse {
      display: block;
      z-index: 400;
    }
  }
  