.AmmonRizos{
    background-color: #012060;
    color: white;
}

.Astrodyne{
    background-color: #ee3338;
}

.AVX{
    background-color: #00a1dc;
    color: white;
}

.Comair{
    background-color: #029DD6;
}

.Kyocera{
    background-color: #E23D52;
    color: white;
}

.Omron{
    background-color: #0055c4;
    color: white;
}

.ON{
    background-color: #69bf5f  ;
    color: white ;
}

.SunLED{
    background-color: #8d00c1 ;
    color: white ;
}

.Sharp{
    background-color: #f33 ;
    color: white;
}
 
.UCC{
    background-color: #228fc8  ;
}

.VAC{
    background-color: #004061;
    color: white ;
}

.Vexos{
    background-color: rgba(48,189,255,1) ;
}

.Zero{
    background-color: #1C1C1C  !important;
    color: white ;
}
