#productOfTheMonth {
    width: 35%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

#productInfo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8% 0 0 0;
    width: 100%;
    height: 70%;
}


#productLabel {
    width: 100%;
    height: 30%;
    background-color: rgb(196, 196, 196, 0.7);
}

#productImage {
    z-index: 10;
    width: 15%;
}

#productLabel h2 {
    color: #383838;
    font-size: 18px;
    margin-left: 5%;
    padding-top: 5%;
}


#productInfo h1 {
    color: #f8f8f8;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    padding: 0 5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


#productInfo h1:not(#principal) {
    width: 100%;
}

#principal {
    font-weight: 700;
    display: inline-block;
    padding-left: 5%;
    width: auto;
}



@media (max-width: 770px) {
    #productOfTheMonth {
        width: 100%;
        height: 50%;
    }


    #productInfo {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2% 0 0 0;
        width: 100%;
        height: 70%;
    }
    
    
    #productLabel {
        width: 100%;
        height: 30%;
        background-color: rgb(196, 196, 196, 0.7);
    }
    
    #productImage {
        width: 10%;
    }
    
    #productLabel h2 {
        font-size: 24px;
        padding-top: 3%;
    }
    
    
    #productInfo h1 {
        font-size: 20px !important;
    }
    
    
    #productInfo h1:not(#principal) {
        width: 100%;
    }
    
    #principal {
        font-weight: 700;
        display: inline-block;
        padding-left: 5%;
        width: auto;
    }
}