#tableTools {
    width: 85%;
    margin: 1% auto;
    height: 20px;
}

#tableTools * {
    font-size: 10px;
}

#pageContainer {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leftTriangle,
.rightTriangle {
    height: 0;
    width: 0;
    cursor: pointer;
}

.leftTriangle,
.rightTriangle,
#pageNumber {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leftTriangle {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #383838;
}

.rightTriangle {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #383838;
}

#itemsPerPage {
    float: right;
    width: 40px;
    height: 20px;
    padding: 0;
    margin: 0;
}

#pageNumber {
    width: 25px;
    height: 20px;
    font-size: 10px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
